.video{margin-top: 50px;}
.vide > *, .rd-video_cnt > * {
  margin: 0;
}
.vide * + p, .rd-video_cnt * + p {
  margin-top: 40px;
}

@media (max-width: 479px) {
  .vide * + p, .rd-video_cnt * + p {
    margin-top: 15px;
  }
}
.vide_cnt {
  position: relative;
}

.vide, .rd-video_cnt {
  padding: 174px 15px 211px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.72px;
}
.vide, .vide h2, .rd-video_cnt, .rd-video_cnt h2 {
  color: #fff;
}
.vide h2, .rd-video_cnt h2 {
  font-size: 43px;
  line-height: 57px;
  letter-spacing: 1.72px;
  font-weight: 700;
  text-transform: uppercase;
}
.vide p, .rd-video_cnt p {
  display: block;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .vide, .rd-video_cnt {
    padding: 60px 15px;
  }
}
@media (max-width: 479px) {
  .vide h2, .rd-video_cnt h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
